services:
  web:
    build: .
    container_name: djangotaekwondocoach-web
    depends_on:
      - db
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             gunicorn coachathlete.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - static_volume:/var/www/static
      - media_volume:/var/www/media
    env_file:
      - .env
    networks:
      - taekwondo-net
      - caddy-net

  db:
    image: postgres:15
    container_name: djangotaekwondocoach-db
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - taekwondo-net

  nginx:
    image: nginx:latest
    container_name: djangotaekwondocoach-nginx
    depends_on:
      - web
    # ports:
    #   - "8080:80" # Local testing, not used by Caddy
    volumes:
      - static_volume:/var/www/static
      - media_volume:/var/www/media
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - taekwondo-net
      - caddy-net

volumes:
  static_volume:
  media_volume:
  pgdata:

networks:
  taekwondo-net:
    driver: bridge
  caddy-net:
    external: true
