{% load static %}
<div class="col">
  <div
    class="card h-100 {% if Coach.sex == 'male' %}boy-card{% else %}girl-card{% endif %}"
  >
    <!-- Card Image -->
    <img
      src="{% if Coach.photo %}
          {{ Coach.photo.url }}
          {% else %}
          {% static if Coach.sex == 'male' 'images/c-man.png'  else 'images/c-woman.png' %}
          {% endif %}"
      class="card-img-top img-thumbnail"
      alt="{{ Coach.full_name }}"
    />

    <!-- Card Header -->
    <div class="card-header text-center">
      {% if user.is_authenticated %}
      <a
        href="{% url 'detail' Coach.id %}"
        class="text-dark text-decoration-none"
      >
        <i
          class="fas {% if Coach.sex == 'male' %}fa-mars{% else %}fa-venus{% endif %} me-2"
        ></i>
        {{ Coach.full_name }}
      </a>
      {% else %}
      <a
        href="#"
        class="text-dark text-decoration-none"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
      >
        <i
          class="fas {% if Coach.sex == 'male' %}fa-mars{% else %}fa-venus{% endif %} me-2"
        ></i>
        {{ Coach.full_name }}
      </a>
      {% endif %}
    </div>

    <!-- Card Body -->
    <div class="card-body">
      <p>
        <i class="fas fa-at me-2"></i>
        <a href="mailto:{{Coach.email}}" class="text-decoration-none"
          >{{Coach.email}}</a
        >
      </p>
      <p>
        <i class="fas fa-phone me-2"></i>
        <a href="tel:{{Coach.phone_number}}" class="text-decoration-none"
          >{{Coach.phone_number}}</a
        >
      </p>
      <p>
        <i class="fas fa-info-circle me-2"></i>
        {{ Coach.status }}
      </p>
    </div>
  </div>
</div>
