<!-- prettier-ignore -->
{% load static %} {% load custom_filters %}

<div
  class="card card-detail-container coach-card h-100 {{ Coach|gender_card_class }}"
  style="max-width: 780px"
  data-coach-id="{{ Coach.id }}"
>
  <div class="row g-0">
    <!-- Block for Close Button -->
    <a
      href="/coaches/"
      class="btn-close position-absolute top-2 end-3 close-button"
      title="Close"
    ></a>

    <!-- Card Image -->
    <div class="col-md-6 detail-left">
      <img
        src="{{ Coach|profile_picture }}"
        class="card-img-top img-fluid rounded-start-0"
        alt="{{ Coach.full_name }}"
      />
    </div>

    <!-- Card Details -->
    <div class="col-md-6 detail-right d-flex flex-column bg-light">
      <!-- Card Header -->
      <div class="card-header text-center py-2">
        <a
          href="{% if user.is_authenticated %}{% url 'detail' Coach.id %}{% else %}#{% endif %}"
          class="text-dark text-decoration-none"
          data-bs-toggle="{% if not user.is_authenticated %}modal{% endif %}"
          data-bs-target="{% if not user.is_authenticated %}#loginModal{% endif %}"
        >
          <i class="fas {{ Coach|gender_icon }} me-2"></i>
          {{ Coach.full_name|smart_truncate:20 }}
        </a>
      </div>

      <!-- Card Body -->
      <div
        class="card-body flex-grow-1 d-flex flex-column justify-content-between mt-1"
      >
        <div class="row g-2">
          <div class="col-7 px-1">
            <!-- Registration -->
            <div class="d-flex align-items-center mb-3">
              <i class="far fa-id-card custom-text me-2"></i>
              <span class="fw-normal">{{ Coach.registration_number }}</span>
            </div>
            <!-- Nationality -->
            <div class="d-flex align-items-center mb-3">
              <i class="far fa-flag custom-text me-2"></i>
              <span class="fw-normal">&nbsp;{{ Coach.country.name }}</span>
            </div>
            <!-- Age -->
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-user-clock custom-text me-2"></i>
              <span class="fw-normal">
                {% if Coach.date_of_birth|calculate_age %}
                <!---->
                {{ Coach.date_of_birth|calculate_age }} years old {% else %} Age
                not available {% endif %}
              </span>
            </div>
          </div>

          <!-- Right Column -->
          <div class="col-5 px-1">
            <!-- Belt Holder -->
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-ribbon custom-text me-2"></i>
              <span class="fw-normal">{{ Coach.belt }} Belt Holder</span>
            </div>
            <!-- Dojang Name -->
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-building custom-text me-2"></i>
              <span class="fw-normal">{{ Coach.dojang_name }}</span>
            </div>
            <!-- Phone Number -->
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-phone custom-text me-2"></i>
              <span class="fw-normal">{{ Coach.phone_number }}</span>
            </div>
          </div>

          <!-- Achievements Section -->
          <div class="row g-1 px-1 mb-1">
            <div class="col-12">
              <div class="d-flex">
                <i class="fas fa-trophy custom-text me-2 mt-1"></i>
                <div
                  class="fw-normal limit-lines"
                  style="
                    line-height: 1.5;
                    max-height: calc(1.5em * 2);
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                >
                  {% if Coach.achievements %}
                  <!---->
                  {% for achievement in Coach.achievements.splitlines %}
                  <div>{{ achievement }}</div>
                  {% endfor %} {% else %}
                  <div>This coach hasn't provided achievements yet.</div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <!-- Bio -->
          <div class="row g-2 px-1 mb-1">
            <div class="col-12">
              <div class="d-flex">
                <i class="fas fa-history custom-text me-2 mt-1"></i>
                <span class="fw-normal">
                  {% if Coach.bio %} {{ Coach.bio|smart_truncate:180 }}
                  <!---->
                  {% else %} This coach has not provided a biography yet.
                  <!---->
                  {% endif %}
                </span>
              </div>
            </div>
          </div>

          <!-- Bottom Section -->
          <div
            class="d-flex justify-content-between align-items-center mt-0 border-top pt-1"
          >
            <div class="d-flex align-items-center">
              {% if Coach.status == "active" %}
              <i class="fas fa-circle custom-text me-2"></i>
              <!-- Green icon for active -->
              <span class="badge badge-active text-light">
                {{ Coach.status }}
              </span>
              {% else %}
              <i class="fas fa-circle text-danger me-2"></i>
              <!-- Red icon for inactive -->
              <span class="badge bg-danger text-light">{{ Coach.status }}</span>
              {% endif %}
            </div>

            <button
              class="favorite-btn btn btn-outline-danger btn-sm"
              data-coach-id="{{ Coach.id }}"
              title="Add to Favorites"
            >
              <i class="far fa-heart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card Detail Actions -->
  <div class="card-detail-action p-2 bg-light border-top text-center">
    <p class="my-1 fw-light">Input date: &nbsp; {{ Coach.input_date }}</p>

    {% if is_manager %}
    <a class="btn btn-info px-5" href="{% url 'update' Coach.id %}">
      <i class="far fa-edit"></i>
      &nbsp;Update
    </a>
    <button
      class="btn btn-outline-danger px-5"
      data-bs-toggle="modal"
      data-bs-target="#deleteModal"
    >
      <i class="fas fa-trash-alt"></i>
      &nbsp;Delete
    </button>
    {% endif %}
  </div>
</div>
