{% load static %} {% load custom_filters %}
<div class="col">
  <div class="card h-100 {{ Coach|gender_card_class }}">
    <!-- Card Image -->
    <img
      src="{{ Coach|profile_picture }}"
      class="card-img-top img-thumbnail"
      alt="{{ Coach.full_name }}"
    />

    <!-- Card Header -->
    <div class="card-header text-center">
      <a
        href="{% if user.is_authenticated %}{% url 'detail' Coach.id %}{% else %}#{% endif %}"
        class="text-dark text-decoration-none"
        data-bs-toggle="{% if not user.is_authenticated %}modal{% endif %}"
        data-bs-target="{% if not user.is_authenticated %}#loginModal{% endif %}"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ Coach.full_name }}"
      >
        <i class="fas {{ Coach|gender_icon }} me-2"></i>
        {{ Coach.full_name|smart_truncate:20 }}
      </a>
    </div>

    <!-- Card Body -->
    <div class="card-body">
      <p>
        <i class="fas fa-at me-2"></i>
        <a href="mailto:{{ Coach.email }}" class="text-decoration-none">
          {{ Coach.email }}
        </a>
      </p>
      <p>
        <i class="fas fa-phone me-2"></i>
        <a href="tel:{{ Coach.phone_number }}" class="text-decoration-none">
          {{ Coach.phone_number }}
        </a>
      </p>
      <p>
        <i class="fas fa-info-circle me-2"></i>
        {{ Coach.status }}
      </p>
    </div>
  </div>
</div>
