{% load static %} {% load custom_filters %}

<div
  class="card card-detail-container coach-card h-100 {{ Coach|gender_card_class }}"
  style="max-width: 640px"
  data-coach-id="{{ Coach.id }}"
>
  <div class="row g-0">
    <!-- Block for Close Button -->
    {% block close_button %}
    <!---->
    {% endblock %}

    <!-- Card Image -->
    <div class="col-md-6">
      <img
        src="{{ Coach|profile_picture }}"
        class="card-img-top img-fluid rounded-start"
        alt="{{ Coach.full_name }}"
      />
    </div>

    <!-- Card Header -->

    <div class="col-md-6">
      <div class="card-header text-center">
        <a
          href="{% if user.is_authenticated %}{% url 'detail' Coach.id %}{% else %}#{% endif %}"
          class="text-dark text-decoration-none"
          data-bs-toggle="{% if not user.is_authenticated %}modal{% endif %}"
          data-bs-target="{% if not user.is_authenticated %}#loginModal{% endif %}"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="{{ Coach.full_name }}"
        >
          <i class="fas {{ Coach|gender_icon }} me-2"></i>
          {{ Coach.full_name|smart_truncate:20 }}
        </a>
      </div>

      <!-- Card Body -->
      <div class="card-body d-flex flex-column">
        <div class="row g-2">
          <div class="col-6">
            <!-- Registration -->
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-id-card text-primary me-2"></i>
              <span class="fw-light">{{ Coach.registration_number }}</span>
            </div>
            <!-- Nationality -->
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-flag text-primary me-2"></i>
              <span class="fw-light">{{ Coach.country.name }}</span>
            </div>

            <!-- Age -->
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-user-clock text-info me-2"></i>
              <span class="fw-light">
                {% if Coach.date_of_birth|calculate_age %}
                <!---->
                {{ Coach.date_of_birth|calculate_age }} years old {% else %} Age
                not available {% endif %}
              </span>
            </div>
          </div>

          <div class="col-6">
            <!-- Belt Holder -->
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-ribbon text-warning me-2"></i>
              <span class="fw-light">{{ Coach.belt }} Belt Holder</span>
            </div>
            <!-- Dojang Name -->
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-building text-secondary me-2"></i>
              <span class="fw-light">{{ Coach.dojang_name }}</span>
            </div>

            <!-- Phone Number -->
            <div class="d-flex align-items-center mb-3">
              <i class="fas fa-phone text-success me-2"></i>
              <span class="fw-light">{{ Coach.phone_number }}</span>
            </div>
          </div>

          <!-- Bottom Row -->
          <div
            class="d-flex justify-content-between align-items-center mt-auto"
          >
            <div>
              <i class="fas fa-info-circle text-secondary me-2"></i>
              <span class="text-muted">{{ Coach.status }}</span>
            </div>
            <button
              class="favorite-btn"
              data-coach-id="{{ Coach.id }}"
              title="Add to Favorites"
            >
              <i class="far fa-heart"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- card header ends-->
    </div>
  </div>
</div>
