{% load static %} {% load custom_filters %}
<div class="col">
  <div
    class="card coach-card h-100 {{ Coach|gender_card_class }}"
    data-coach-id="{{ Coach.id }}"
  >
    <!-- Block for Close Button -->
    {% block close_button %}
    <!---->
    {% endblock %}

    <!-- Card Image -->
    <img
      src="{{ Coach|profile_picture }}"
      class="card-img-top img-thumbnail"
      alt="{{ Coach.full_name }}"
    />

    <!-- Card Header -->
    <div class="card-header text-center">
      <a
        href="{% if user.is_authenticated %}{% url 'detail' Coach.id %}{% else %}#{% endif %}"
        class="text-dark text-decoration-none"
        data-bs-toggle="{% if not user.is_authenticated %}modal{% endif %}"
        data-bs-target="{% if not user.is_authenticated %}#loginModal{% endif %}"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ Coach.full_name }}"
      >
        <i class="fas {{ Coach|gender_icon }} me-2"></i>
        {{ Coach.full_name|smart_truncate:18 }}
      </a>
    </div>

    <!-- Card Body -->
    <div class="card-body">
      <!-- Nationality -->
      <div class="d-flex align-items-center mb-2">
        <i class="far fa-flag custom-text me-2"></i>
        <span class="fw-light">{{ Coach.country.name }}</span>
      </div>

      <!-- Belt Holder -->
      <div class="d-flex align-items-center mb-2">
        <i class="fas fa-ribbon custom-text me-2"></i>
        <span class="fw-light">{{ Coach.belt }} Belt Holder</span>
      </div>

      <!-- Bottom Row -->
      <div class="d-flex justify-content-between align-items-center mt-auto">
        <div class="d-flex align-items-center">
          {% if Coach.status == "active" %}
          <i class="far fa-circle custom-text me-2"></i>
          <!-- Green icon for active -->
          <span class="badge badge-active">{{ Coach.status }}</span>
          {% else %}
          <i class="far fa-circle text-danger me-2"></i>
          <!-- Red icon for inactive -->
          <span class="badge bagde-inactive">{{ Coach.status }}</span>
          {% endif %}
        </div>
        <button
          class="favorite-btn"
          data-coach-id="{{ Coach.id }}"
          title="Add to Favorites"
        >
          <i class="far fa-heart"></i>
        </button>
      </div>
    </div>

    <!-- Quick Preview Section -->
    <div class="quick-preview">
      <p class="preview-bio">
        {% if Coach.bio %} {{ Coach.bio|smart_truncate:100 }}
        <!---->
        {% else %} This coach has not provided a biography yet.
        <!---->
        {% endif %}
      </p>
      <div class="locked-details">
        <span class="lock-icon">🔒</span>
        <p>Sign up to view awards and specialties!</p>
      </div>
      <a href="{% url 'signup' %}" class="signup-btn">Sign Up</a>
    </div>
    <!-- end  of Quick Preview Section -->
  </div>
</div>
