.main-container {
  background-image: url("../images/Taekwondo_landing.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: ß;
  display: flex; /* Flex container for layout */
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: -webkit-fill-available;
  width: 100vw; /* Full viewport width */
  margin: 0;
  padding: 0;
  position: relative;
}
nav,
footer {
  display: none;
}
* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Left Content */
.left-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push content to the bottom */
  align-items: flex-start; /* Align items to the left */
  padding: 0 2rem;
  gap: 2rem;
  width: 50%; /* Half of the container width */
  height: 75%; /* Full height */
  box-sizing: border-box;
  position: absolute;
  top: auto;
  transform: translateY(33%); /* Move upward by 25% of parent's height */
  margin-bottom: 0;
}

.col-md-6 {
  flex: 1;
  max-width: none;
}

/* Hero Section */
.hero {
  padding: 2rem; /* Add padding for spacing */
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #76520e,
    #926c15,
    #b69121,
    #a47e1b,
    #b69121
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 1rem;
}

/* Features Section */
.features h3 {
  font-size: 0.8125rem;
  font-weight: bold;
}

.features p {
  font-size: 0.75rem;
}

.features .custom-icon {
  color: #ffbb33; /* Customize icon color */
  font-size: 1.125rem;
}

/* Right Side - Empty */
.right-side {
  height: 100vh;
  flex: 1; /* Fill the remaining space */
}

/* CTA Button */
.btn-cta {
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.1rem;
  color: rgb(121, 103, 3);
  font-weight: 900;
  position: relative;
  z-index: 2;
  transition-duration: 3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
  background-size: 200% 200%;
  text-decoration: none;
  cursor: pointer;
}

.btn-cta:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  animation: gradient 3s ease infinite;
  background-position: right;
  text-decoration: none;
  font-size: 20px;
}

.app-logo {
  position: absolute; /* Position relative to the viewport */
  max-width: 250px;
  max-height: 100%;
  z-index: 10;
  top: 0;
  margin: 0;
  align-self: flex-start; /* Align to the top-left corner */
  cursor: pointer; /* Makes it look clickable */
}

.app-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  opacity: 0.9;
}

.navbar {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  .left-content {
    width: 100%;
    text-align: center;
  }
  .right-side {
    display: none;
  }
}
.custom-icon {
  background: linear-gradient(to right, #171716, #ffa500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
