.main-container {
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: end; /* Horizontally center content */
  background-image: url("../images/Taekwondo_landing.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Remove nav and footer spacing for this page */
nav,
footer {
  display: none;
}

/* Left Content */
.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center hero and feature */
  align-items: flex-start; /* Align content to the left */
  gap: 2rem; /* Add spacing between hero and feature */
  width: 100%; /* Take up half of the viewport width */
  height: 75%;
}

.hero {
  width: 50%;
  padding: 2rem; /* Add padding for spacing */
  /* position: relative; */
}

/* Overlay effect */
.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

/* Feature Section */
.feature {
  padding: 1rem; /* Add some spacing inside the feature section */
  width: 50%;
  height: 100vh;
  overflow-y: auto; /* Enable scrolling if the content overflows */
}

.feature h3 {
  font-size: 1.5rem; /* Adjust heading size */
  margin-bottom: 1rem;
}

.feature i {
  font-size: 1.5rem; /* Adjust icon size */
}

.feature h6 {
  font-size: 1rem; /* Smaller heading for feature items */
}

.feature p {
  font-size: 0.9rem; /* Smaller font size for text */
  line-height: 1.2; /* Adjust line height for better readability */
}

.row {
  justify-content: center; /* Align feature items to the center */
}
