.main-container {
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: end; /* Horizontally center content */
  background-image: url("../images/Taekwondo_landing.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* Remove nav and footer spacing for this page */
nav,
footer {
  display: none;
}

/* Left Content */
.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center hero and feature */
  align-items: flex-start; /* Align content to the left */
  gap: 2rem; /* Add spacing between hero and feature */
  width: 100%; /* Take up half of the viewport width */
  height: 75%;
}

.hero {
  width: 50%;
  padding: 2rem; /* Add padding for spacing */
  /* position: relative; */
}

.gradient-text {
  background: linear-gradient(to right, #805b10, #b38728, #a47e1b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Overlay effect */
.hero-overlay {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

/* Feature Section */
.feature {
  padding: 1rem; /* Add some spacing inside the feature section */
  width: 50%;
  height: 100vh;
  overflow-y: auto; /* Enable scrolling if the content overflows */
}

.feature h3 {
  font-size: 1.5rem; /* Adjust heading size */
  margin-bottom: 1rem;
}

.feature i {
  font-size: 1.5rem; /* Adjust icon size */
}

.feature h6 {
  font-size: 1rem; /* Smaller heading for feature items */
}

.feature p {
  font-size: 0.9rem; /* Smaller font size for text */
  line-height: 1.2; /* Adjust line height for better readability */
}

.row {
  justify-content: center; /* Align feature items to the center */
}

.btn-cta {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 20px;
  color: rgb(121, 103, 3);
  font-weight: 900;
  position: relative;
  z-index: 2;
  transition-duration: 3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
  background-size: 200% 200%;
  text-decoration: none;
  cursor: pointer;

  /*** full width block ***/
  /* width: 100%; */
}

.btn-cta:hover {
  transform: scale(0.95);
  transition-duration: 2s;
  animation: gradient 3s ease infinite;
  background-position: right;
  text-decoration: none;
  font-size: 20px;
}

.app-logo {
  position: absolute; /* Position relative to the viewport */

  z-index: 10;
  top: 0;
  margin: 0;
  align-self: flex-start; /* Align to the top-left corner */
  cursor: pointer; /* Makes it look clickable */
}

.app-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  opacity: 0.9;
}

.custom-icon {
  background: linear-gradient(to right, #171716, #ffa500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
