<!-- prettier-ignore -->
{% extends 'base.html' %} {% load static %} {% load custom_filters %}
{% block title %} List of Coaches
{% endblock title %} 
{% block content %}

<!-- Filter Form -->
<div class="col-md-10 offset-md-1">
  <div class="filter-bar p-3 mb-4 shadow-sm bg-light rounded">
    <form method="get" class="row g-3 align-items-center">
      <div class="col-md-3">
        {{ filter.form.country|add_class:"form-select" }}
      </div>

      <div class="col-md-3">
        {{ filter.form.belt_rank|add_class:"form-select" }}
      </div>

      <div class="col-md-3">
        {{ filter.form.status|add_class:"form-select" }}
      </div>

      <div class="col-md-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary w-100 me-2">Filter</button>
        <a href="{% url 'coaches-list' %}" class="btn btn-secondary w-100">
          Reset
        </a>
      </div>
    </form>
  </div>
</div>
<!-- end of filter-->

<div class="container py-4 coaches-page">
  <!---->

  {% if not user.is_authenticated %}
  <!-- Coach Headline Section -->
  <div class="coach-headline text-center">
    <h1>Join our community!</h1>
    <h2>Sign up or log in to add your own Taekwondo coach</h2>
    <p>
      Unlock full access by logging in! View coach details, update profiles, and
      join the action
    </p>
  </div>

  {% endif %}

  <!-- List test and View Favorites -->
  <div class="col-md-10 offset-md-1">
    <div class="d-flex justify-content-between align-items-baseline">
      <h4 class="text-list-coach mt-4">List of coaches</h4>
      <button id="viewFavoritesBtn" class="btn-fav">View Favorites</button>
    </div>
  </div>

  <hr class="mx-auto" style="max-width: 1080px" />

  <!-- Card grid container -->
  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center"
  >
    {% for Coach in Coaches %}
    <div class="col">{% include 'partials/_card.html' %}</div>
    {% endfor %}
  </div>
</div>

<!---->

{% endblock content %}
