{% extends 'base.html' %} {% load static %} {% block title %} List of Coaches -
{% endblock title %} {% block content %}

<div class="container py-4 coaches-page">
  <div class="coach-headline text-center">
    <h1>Join our community!</h1>
    <h2>Sign up or log in to add your own Taekwondo coach</h2>
    <p>
      Unlock full access by logging in! View coach details, update profiles, and
      join the action
    </p>
  </div>

  <div class="d-flex justify-content-between align-items-baseline mt-3">
    <h4 class="text-list-coach mt-4">List of coaches</h4>
    <button id="viewFavoritesBtn" class="btn-fav">View Favorites</button>
  </div>

  <hr />

  <!-- Card grid container -->

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center"
  >
    {% for Coach in Coaches %}
    <div class="col">{% include 'partials/_card.html' %}</div>
    {% endfor %}
  </div>
</div>

<!---->

{% endblock content %}
