{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %} Adding
new coach {% endblock title %} {% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>

<div class="container mt-4">
  <h2 class="heading font-weight-light text-center">Adding new coach</h2>
  <hr />
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="form-container p-4 mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <!-- {% for field in form %}
          
          {% if field.name not in "sex belt country province city" %}
          <div class="mb-3">{{ field|as_crispy_field }}</div>
          {% endif %} {% endfor %} -->

          <div class="mb-3">{{ form.registration_number|as_crispy_field }}</div>
          <div class="mb-3">{{ form.full_name|as_crispy_field }}</div>
          <div class="mb-3">{{ form.place_of_birth|as_crispy_field }}</div>
          <div class="row mb-3">
            <div class="col-md-6">{{ form.date_of_birth|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.sex|as_crispy_field }}</div>
          </div>
          <div class="mb-3">{{ form.country|as_crispy_field }}</div>
          <div class="row mb-3">
            <div class="col-md-6">{{ form.province|as_crispy_field }}</div>
            <div class="col-md-6">{{ form.city|as_crispy_field }}</div>
          </div>
          <div class="row mb-3">
            <div class="col-md-4">{{ form.dojang_name|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.belt|as_crispy_field }}</div>
            <div class="col-md-4">{{ form.status|as_crispy_field }}</div>
          </div>
          <div class="mb-3">{{ form.phone_number|as_crispy_field }}</div>
          <div class="mb-3">{{ form.email|as_crispy_field }}</div>
          <div class="mb-3">{{ form.photo|as_crispy_field }}</div>

          <input
            type="submit"
            value="Add"
            class="btn btn-info w-100 text-white"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Initialize Flatpickr -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    flatpickr("[name='date_of_birth']", {
      dateFormat: "d-m-Y",
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock content %}
