{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %} Adding
new coach {% endblock title %} {% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>

<div class="container mt-4">
  <h2 class="heading font-weight-light text-center">Adding new coach</h2>
  <hr />
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-4">
      <div class="form-container p-4 mt-4">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %} {{ form|crispy }}
          <div class="row">
            <div class="col-md-6">
              <label for="sex">Sex</label>
              <select id="sex" class="form-control">
                <!-- options -->
              </select>
            </div>
            <div class="col-md-6">
              <label for="belt">Belt Holder</label>
              <input type="text" id="belt" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="province">Province</label>
              <select id="province" class="form-control">
                <!-- options -->
              </select>
            </div>
            <div class="col-md-6">
              <label for="city">City</label>
              <select id="city" class="form-control">
                <!-- options -->
              </select>
            </div>
          </div>

          <input
            type="submit"
            value="Add"
            class="btn btn-info w-100 text-white"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Initialize Flatpickr -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    flatpickr("[name='date_of_birth']", {
      dateFormat: "d-m-Y",
    });
  });
</script>

<script>
  document
    .getElementById("id_province")
    .addEventListener("change", function () {
      const provinceId = this.value;
      const cityDropdown = document.getElementById("id_city");

      // Clear existing options
      cityDropdown.innerHTML =
        '<option value="" disabled selected>-- Select City --</option>';

      if (provinceId) {
        fetch(`/filter-cities/?province_id=${provinceId}`)
          .then((response) => response.json())
          .then((data) => {
            data.forEach((city) => {
              const option = document.createElement("option");
              option.value = city.id;
              option.textContent = city.city_name;
              cityDropdown.appendChild(option);
            });
          })
          .catch((error) => console.error("Error fetching cities:", error));
      }
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock content %}
