{% extends 'base.html' %} {% load static %} {% block title %}
<!-- -->
{% if Coach.manager == request.user %} {{Coach.full_name}}
<!--  -->
{% else %} Access Denied {% endif %}
<!-- -->
{% endblock title %} {% block content%} {% if Coach.manager == request.user %}
<!-- Main Section -->
<div class="container">
  <h2 class="heading font-weight-light text-center">{{Coach.full_name}}</h2>
  <hr />
</div>

<div class="container main-part">
  <!-- Card for details -->
  {% include 'partials/_card.html' %}
</div>
<div class="container mt3">
  <h5 class="text-center my-3 font-weight-light">
    Input date: &nbsp; {{Coach.input_date}}
  </h5>
  <p class="text-center text-light">
    <a class="btn btn-success px-5" href="{% url 'update' Coach.id %}">
      <i class="far fa-edit"></i> &nbsp;Update
    </a>
    &nbsp;&nbsp;
    <a class="btn btn-danger px-5" href="{% url 'delete' Coach.id %}">
      <i class="fas fa-trash-alt"></i> &nbsp;Delete
    </a>
  </p>

  <p></p>
</div>

<!-- Main Section ends-->
{% else %}
<div class="container">
  <h2 class="heading font-weight-light text-center">Access denied</h2>
</div>

{% endif %} {% endblock content %}
